root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[meson{.build,_options.txt}]
indent_style = space
indent_size = 2

[*.vala]
indent_style = space
indent_size = 4

[vcf.doap]
indent_style = space
indent_size = 2
